@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    max-width: 100%;
    margin: 20px auto 0; 
    background-color: #000; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-container img {
    max-width: 200px; 
    height: auto;
}

.imgrep img {
    max-width: 70%; 
    height: auto;
}

.imgrep h3 {
    color: #fff; 
}

.imgrep P{
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .imgrep {
        padding: 0 20px; 
    }
}