.song {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.song img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.song-info {
    flex-grow: 1;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.song h2 {
    color: #fff; 
}

.song P{
    color: #fff;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    max-width: 100%;
    margin: 20px auto 0; 
    background-color: #000; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-container img {
    max-width: 200px; 
    height: auto;
}